.login-frame{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 400px;
}

.link-button:hover{
    color: #89b03f;
    text-decoration: none;
}

.primary-button{
    background-color: #89b03f;
    border: none;
}

.primary-button:hover{
    background-color: #6f8f35;
    border: none;
}
.primary-button:focus, .primary-button:active{
    background-color: #6f8f35;
}