.content-main{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    position: relative;
}


.main-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}
.main-table.res{
    width: 100%;
}
.main-table table{
    text-align: center;
    outline: 1px solid black;
    margin-top: 10px;
    width: 100%;
    line-height: 2rem;
}
.main-table td{
    padding-left: 5px;
}
.main-table thead{
    border-bottom: 1px solid black;
}

.main-title{
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-title h5{
    margin: auto;
    padding-left: 40px;
    font-weight: bold;
}

.main-more{
    margin-right: 20px;
}
.main-more:hover{
    color: #89b03f;
}

.main-table tbody tr:hover{
    background-color: whitesmoke;
    opacity: 0.5;
    cursor: pointer;
}

.for-reservation{
    padding: 10px;
}
.for-reservation h5{
    position: relative;
    font-weight: bold;
}
.main-favorites{
    position: relative;
    display: flex;
    margin-top: 10px;
}

.end-res td{
    position: relative;
    padding: 0px 5px;
}
.end-res td::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid black;
    width: 100%;
}

.no-shop{
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
